.footer {
  background-color: black;
  height: 50px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px;
  justify-content: space-between;
  padding-inline: 34px;
  figure {
    margin: 0;
    img {
      width: 3.8rem;
    }
  }

}

@include u.breakpoint(mediumPlus) {
  .footer {
    padding-inline: 64px;
    padding-block: 20px;
    figure {
      img {
        width: 6rem;
      }
    }
  }
}
